@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

section {
  position: absolute;
  background-color: #f7f7f7;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav {
  height: 50px;
  padding: 15px 0;
  width: 100%;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  color: #ea005e;
}

nav .logo h1 {
  font-family: "Balsamiq Sans", cursive;
  letter-spacing: 3px;
  font-size: 1.7rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 45%;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.2rem;
  background-color: transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 30px;
  transition: 0.3s;
  color: #4c4a48;
}

nav ul li a span {
  border-bottom: 2px solid #0052d4;
}

nav ul li a:hover {
  background-color: #0052d4;
  color: #fff;
  transition-property: inherit;
}

nav ul li a:hover span {
  border-bottom: none;
}

nav ul li .search-box {
  align-items: center;
  float: right;
  background-color: red;
}

nav ul li .search-box input[type="text"] {
  padding: 5px;
  width: fit-content;
  border: 0.3px solid grey;
  border: none;
}

nav ul li .search-box button {
  float: right;
  border: none;
  cursor: pointer;
  padding: 5px;
  size: initial;
  width: 30px;
}

nav a.icon {
  display: none;
}

section .container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

section .container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  z-index: 2;
}

section .container .content h2 {
  font-family: "Balsamiq Sans", cursive;
  padding: 0 2px;
  text-align: left;
  font-size: 3rem;
  color: #4c4a48;
}

section .container .content h2 span {
  color: #ea005e;
}

section .container .content p {
  text-align: justify;
  font-size: 1.3rem;
  color: #4c4a48;
  margin: 5px;
}

section .container .content input {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(234, 0, 94, 0.5);
  color: #fff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

section .container .content input:hover {
  transform: scale(1.1);
  background-color: rgb(0, 82, 212);
}

section .container .content .socialIcon {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(100px);
}

section .container .content .socialIcon .fa {
  transform: scale(2);
  color: grey;
  cursor: pointer;
}

section .container .content .socialIcon .fa.fa-facebook:hover {
  color: #3b5999;
}

section .container .content .socialIcon .fa.fa-twitter:hover {
  color: #55acee;
}

section .container .content .socialIcon .fa.fa-instagram:hover {
  color: #e4405f;
}

section .container .illustration {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

section .container .illustration img {
  transform: scale(0.45);
}

.circle {
  width: 100%;
  height: 200%;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(#0052d4, #4364f7, #6fb1fc);
  transform: translateX(52.5%) translateY(12.5%);
  z-index: 1;
}
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 45%;
  }

  nav ul li a {
    font-size: 1rem;
    padding: 7px;
  }

  section .container .content {
    padding: 50px;
  }

  section .container .content h2 {
    font-size: 2rem;
  }

  section .container .content p {
    margin: 5px;
  }

  section .container .content input {
    width: 45%;
  }

  section .container .content .socialIcon {
    transform: translateY(75px);
    justify-content: space-around;
  }

  section .container .illustration img {
    transform: scale(0.35);
  }
  .circle {
    width: 100%;
    height: 200%;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#0052d4, #4364f7, #6fb1fc);
    transform: translateX(55%) translateY(13%);
    z-index: 1;
  }
}

/* Ukuran Handphone/Mobile */
@media screen and (max-width: 576px) {
  nav a.icon {
    display: block;
  }

  nav ul {
    display: none;
  }

  section .container .content {
    padding: 30px;
  }
}
